body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    text-align: center;
}

header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
}

footer {
    margin-top: 30px;
    font-size: 14px;
    color: #777;
}

/* ゲームのセクション */
.game {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 500px;  /* 横幅を500pxに変更 */
    min-height: 300px;  /* 最低高さを設定 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textform {
    padding: 10px;
    font-size: 16px;
    width: 80%;
    margin-bottom: 15px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.submitbutton {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #0084ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitbutton:hover {
    background-color: #006bb3;  /* hover時に色を変更 */
}

/* 結果表示部分 */
.kekka {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

/* エラーメッセージ部分 */
.alert {
    color: red;
    font-size: 16px;
    margin-top: 10px;
}
